RewriteEngine on
RewriteCond %{REQUEST_FULENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php


RewriteEngine on
RewriteCond %{REQUEST_FULENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html